<section class="contact">

  <div class="container">

    <h2>
      Let's Work Together
    </h2>

    <p>
      Have a project in mind?
      Contact Hatnikotni today.
    </p>

    <a href="#" class="button">
      Contact Us
    </a>

  </div>

</section>